.footer {
    display: flex;
    justify-content: right;
    color: #F2F3F0;
    opacity: 75%;
}

.icons {
    margin-left: 8px;
    font-size: inherit;
    
}

.icons:hover {
    transform: scale(1.25);
    transition: all .2s ease-in-out;
}

.footer-link {
    color: inherit !important;
}