body {
    background-image: url("./Images/background-image.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.map-container {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
    border-radius: 4px;
}

.text-container {
    height: 90vh;
    opacity: 1;
    margin-left: 1vw;
    margin-right: 1vw;
}

.data-container {
    height: 100%;
    /* margin: 24px; */
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
    border-radius: 4px;
}

.text-header {
    position: relative;
    left: 5%;
    top: 40%;
    color: #F2EFE9 !important;
    margin: 0px;
    opacity: 95%;
}

.text-body {
    position: relative;
    left: 5.3%;
    top: 40%;
    color: #F2EFE9 !important;
    margin: 0px;
    opacity: 75%;
    max-width: 50%;
}

h1 {
    font-size: 80px;
    max-width: 50%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: 500px;
    background: #F2EFE9 !important;
    /* background: linear-gradient(to right, #BBD2C5, #5369); */
    opacity: .85;
}

.graph-container {
    width: 100%;
    height: 100%;
}

.footer-container {
    height: 24px;
}

.toggle-button {
    position: absolute;
    top: 12px;
    right: 12px;
    z-index: 10000;
    background-color: #FFFFFF;
}